# Ignore console outputs
nohup.out

# Ignore compiles cython code
*.pyc

# Ignore spyder project info
.spyproject

# Ignore checkpoints in jupyter
*.ipynb_checkpoints

# Ignore caches
*.pytest_cache
*__pycache__
*.xml
/.idea/.gitignore
/.cache/v/cache/lastfailed
/.idea/Muon_magnets.iml
*.venv
